body{
	background-size: 1600px 1000px;
	background-position: fixed;

}
a:link, a:visited {
  background-color: rgba(255, 99, 71, 0.8);
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  opacity: 0.8;
}

a:hover, a:active {
  background-color: grey;
}

h1{
	color: white;
	text-align: center;
}

/*for h1*/
.center{
	position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  text-align: center;
  font-size: 30px;
  text-shadow: 3px 2px grey;
}

/*for h2*/
.text-block{
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  opacity: 0.8;
}

/*for h3*/
.another-block{
	position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  opacity: 0.8;
}

